name: AQI MLOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run ML tests
      run: |
        pytest tests/

    - name: Build Docker images
      run: |
        docker build -f Dockerfile.api -t aqi-api .
        docker build -f Dockerfile.ui -t aqi-ui .
